<h2>Authors</h2>
<p>
	<table class="authors sortable" id="authors">
		<tr>
			<th>Author</th>
			<th>Commits (%)</th>
			<th>Fix commits (%)</th>
			<th>Refactoring commits (%)</th>
			<th>Defect density in defects per KLOC</th>
			<th>Added LOC</th>
			<th>Removed LOC</th>
			<th>Remain LOC</th>
			<th>Contribution %</th>
			<th>Specialization %</th>
			<th>Unique specialization %</th>
			<th>Demand for code %</th>
		</tr>
		#foreach($author in $authors)
		#each
		<tr>
			<td>$author.name</td>
			<td>$author.commits</td>
			<td>$author.fixes</td>
			<td>$author.refactorings</td>
			<td>$author.dd</td>
			<td>$author.added_loc</td>
			<td>$author.removed_loc</td>
			<td>$author.remain_loc</td>
			<td>$author.contribution</td>
			<td>$author.specialization</td>
			<td>$author.unique_specialization</td>
			<td>$author.demand_for_code</td>
		</tr>
		#end
	</table>
</p>