<h2>Authors</h2>
<p>
	<table class="authors sortable" id="authors">
		<tr>
			<th>Author</th>
			<th>Commits (%)</th>
			<th>Fix commits (%)</th>
			<th>Refactoring commits (%)</th>
			<th>Defect density (defects per KLOC)</th>
			<th>Added LOC</th>
			<th>Removed LOC</th>
			<th>Current LOC</th>
			<th>Contribution (%)</th>
			<th>Specialization (%)</th>
			<th>Unique Specialization (%)</th>
			<th>Efficiency (%)</th>
		</tr>
		#foreach($author in $authors)
		#each
		<tr>
			<td>$author.name</td>
			<td>$author.commits</td>
			<td>$author.fixes</td>
			<td>$author.refactorings</td>
			<td>$author.dd</td>
			<td>$author.added</td>
			<td>$author.deleted</td>
			<td>$author.current</td>
			<td>$author.contribution</td>
			<td>$author.specialization</td>
			<td>$author.uniqueSpecialization</td>
			<td>$author.efficiency</td>
		</tr>
		#end
	</table>
</p>