<div id="grapharea"></div>
<script type="text/javascript">
	var r=Raphael("grapharea");
	r.setSize('1000%', '100%');
	
	txtheadattr = 	{ font: "20px sans-serif" };
	txtauthattr = 	{ font: "14px sans-serif" };
	txtattr 	=	{ font: "12px sans-serif" };
	var colors = 	['#0F0', '#FF0', '#00F'];
	
	var authors = [];
	#foreach($author in $authors)
	#each
		authors[authors.length] = '$author.name'
	#end
	
	var monthes = [];
	#foreach($month in $monthes)
	#each
		monthes[monthes.length] = '$month.month'
	#end
	
	var fix = [];
	#foreach($fix in $fixes)
	#each
		fix[fix.length] = $fix.fix
	#end
	var refact = [];
	#foreach($refact in $refactorings)
	#each
		refact[refact.length] = $refact.refact
	#end
	var rest = [];
	#foreach($rest in $rests)
	#each
		rest[rest.length] = $rest.rest
	#end
	
	var data = [fix,refact,rest];
	
	r.text(170, 7, 	"Author Activity per Month(commits,%)").attr(txtheadattr);
	r.text(390,	9,	"Fix").attr(txtattr);
	r.text(490,	9,	"Refacroring").attr(txtattr);
	r.text(590, 9,  "Rest").attr(txtattr);
	r.rect(360, 2, 13, 13).attr({fill: colors[0]});
	r.rect(440, 2, 13, 13).attr({fill: colors[1]});		
	r.rect(560,	2, 13, 13).attr({fill: colors[2]});
	
	var iv = 50;
	var authlen=authors.length;
	for(i=0;i<authlen;i++)	r.text(iv, 220 + 2.6*i*iv, authors[i]).attr(txtauthattr);
	
	var monthlen = monthes.length;
	var rectwidth=20;
	/*if(monthlen<=8)			rectwidth=20;
	else if(monthlen<=15) 	rectwidth=10;
	else					rectwidth=5;*/
	for(i=0;i<monthlen;i++)	r.text(180 + 4*rectwidth*i, 1.5*iv, monthes[i]).attr(txtauthattr).rotate(-90);
	
	var value=0;
	var width;	
	for(var i=0;i<authlen;i++)
		for(var j=0,width=0;j<monthlen*3;j++)
		{
			value = data[j%3][i+Math.floor(j/authlen)*authlen];
			r.text(160+width,120+130*i+(100-value),Math.round(value)).attr(txtattr);
			value==1 ? value=1.5 : value;
			value==0 ? value=1 : value;
			r.rect(150+width,135+130*i+(100-value),rectwidth,Math.ceil(value)).attr({fill: colors[j%3]});
			width+=rectwidth;
			if(j%3==2)	width+=rectwidth;
		}					
</script>