<div id="grapharea"></div>
<script type="text/javascript">
	var r=Raphael("grapharea");
	fin = function ()
	{
        this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
    }
    fout = function () 
	{
        this.flag.animate({opacity: 0}, 300, function () {this.remove();});
    }
	
	txtheadattr = 	{ font: "20px sans-serif" };
	txtauthattr = 	{ font: "14px sans-serif" };
	txtattr 	=	{ font: "12px sans-serif" };
	var colors = 	['#0F0', '#FF0', '#00F'];
	var authors = [];
	#foreach($author in $authors)
	#each
		authors[authors.length] = '$author.name'
	#end
	
	var commitsfixed=[];
	#foreach($author in $authors)
	#each
		commitsfixed[commitsfixed.length] = $author.fixes
	#end
	
	var commitsrefactored=[];
	#foreach($author in $authors)
	#each
		commitsrefactored[commitsrefactored.length] = $author.refactorings
	#end
	
	var commitsrest=[];
	for(var i=0;i<commitsrefactored.length;i++)	commitsrest[i]= 100 - commitsrefactored[i] - commitsfixed[i] ;
		
	var data = [commitsfixed,commitsrefactored,commitsrest];
	
	var options = 
	{
		stacked: true, 
		colors: colors
	};
	
	r.text(420, 7, 	"Commit Activity").attr(txtheadattr);
	r.text(355,	35,	"Fix").attr(txtattr);
	r.text(440,	35,	"Refactoring").attr(txtattr);	
	r.text(530,	35,	"Rest").attr(txtattr);	
	r.rect(320, 30, 13, 13).attr({fill: colors[0]});
	r.rect(380, 30, 13, 13).attr({fill: colors[1]});	
	r.rect(490, 30, 13, 13).attr({fill: colors[2]});	
	
	r.blob		(845,	60,	"%",	30);
	r.dotchart	(171,	40,	695,	0,	[0,100],	[0,0],	[0.1,0.1],	{max: 1,heat: true, axis: '1 0 0 0',axisxstep: 10});
	
	var iv = 30;
	for(i=0;i<authors.length;i++)	r.text(100, 90 + i*iv, authors[i]).attr(txtauthattr);
	
	r.hbarchart	(200, 75, 640, iv*authors.length*1.04, data, options).hover(fin, fout);
	
</script>