<h2>Files</h2>
<p>
	<table class="exts sortable" id="exts">
		<tr>
			<th>Extension</th>
			<th>Number of files (%)</th>
			<th>Defect density in defects per KLOC</th>
			<th>Added LOC</th>
			<th>Removed LOC</th>
			<th>Remain LOC</th>
		</tr>
		#foreach($ext in $exts)
		#each
		<tr>
			<td>$ext.name</td>
			<td>$ext.files</td>
			<td>$ext.dd</td>
			<td>$ext.added_loc</td>
			<td>$ext.removed_loc</td>
			<td>$ext.remain_loc</td>
		</tr>
		#end
	</table>
</p>
<p>
	<table class="dirs sortable" id="dirs">
		<tr>
			<th>Directory</th>
			<th>Number of files (%)</th>
			<th>Defect density in defects per KLOC</th>
			<th>Added LOC</th>
			<th>Removed LOC</th>
			<th>Remain LOC</th>
		</tr>
		#foreach($dir in $dirs)
		#each
		<tr>
			<td>$dir.name</td>
			<td>$dir.files</td>
			<td>$dir.dd</td>
			<td>$dir.added_loc</td>
			<td>$dir.removed_loc</td>
			<td>$dir.remain_loc</td>
		</tr>
		#end
	</table>
</p>