<h2>Files</h2>
<p>
	<table class="files sortable" id="files">
		<tr>
			<th>Extension</th>
			<th>Number of files (%)</th>
			<th>Defect density (defects per KLOC)</th>
			<th>Added LOC</th>
			<th>Added LOC in fixes</th>
			<th>Removed LOC</th>
			<th>Removed LOC in fixes</th>
			<th>Current LOC</th>
		</tr>
		#foreach($type in $file_types)
		#each
		<tr>
			<td>$type.ext</td>
			<td>$type.files ($type.files_percent %)</td>
			<td>$type.dd</td>
			<td>$type.added</td>
			<td>$type.addedInFixes</td>
			<td>$type.deleted</td>
			<td>$type.deletedInFixes</td>
			<td>$type.current</td>
		</tr>
		#end
	</table>
</p>