<h2>Genaral</h2>
<p>
	Generation date: $stat_date
	<br>
	Statistics period: from $stat_period_from to $stat_period_to ($stat_period_days days $stat_period_years years)
	<br>
	Number of authors: $authors_count
	<br>
	Number of commits: $commits_count
	<br>
	Number of fix commits: $commits_fix_count ($commits_fix_percent %)
	<br>
	Number of refactoring commits: $commits_refactoring_count ($commits_refactoring_percent %)
	<br>
	Number of files: $files_current ($files_added added, $files_removed removed)
	<br>
	Number of LOC: $loc_current ($loc_added added, $loc_removed removed)
	<br>
	Traditional defect density (defects per KLOC): $tdd
	<br>
	Defect density (defects per KLOC): $dd
</p>